body {
    margin: 0;
    padding: 0;
    background-color: #1F2937;
    color: aliceblue;
    font-style: "Roboto", "sans-serif";
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.main {
    flex: 1 1 520px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
}

.header {
    border: solid;
    border-radius: 16px;
    padding: 18px;
    font-size: 24px;
    font-weight: 900;
}

.gameButtons {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.button {
    flex: 1 1 150px;
    padding: 8px;
    border: solid;
    border-radius: 12px;
    border-color: aliceblue;
}

.button:hover {
    border-color: #1F2937;
    color: #1F2937;
    background-color: #F9FAF8;
}

.button img {
    max-width: 100px;
    height: auto;
}

.result {
    flex: 1 1 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: 800;
    padding: 16px;
}

.userButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 350px;
}

.newGame, .helper {
    border: solid;
    border-radius: 16px;
    padding: 16px;
    font-weight: 900;
    font-size: 20px;
}

.newGame {
    background-color: green;
    border-color: #F9FAF8;
    color: #F9FAF8;
}

.helper {
    background-color:aquamarine;
    color: gray;
}

.newGame:hover, .helper:hover {
    background-color: #F9FAF8;
    color: #1F2937;
}

.footer {
    width: 100%;
    padding: 16px;
    display: flex;
    justify-content: center;
    background-color: gray;
    color: #F9FAF8;

}


